<header>Header</header>
<section style="padding:20px;">
    <div style="padding:20px;" *ngFor="let fieldInfo of fieldSet" >{{fieldInfo.name}}</div>
</section>
<footer>
      <a class="btn btn-default margin-right-5" (click)="workflow.cancel()">Cancel</a>
      <a class="btn btn-default margin-right-5" (click)="workflow.gotoPreviousStep()">Back</a>
      <a class="btn btn-default margin-right-5 " (click)="workflow.gotoNextStep()">Next</a>
      <a class="btn btn-default" (click)="workflow.finish()">Finish</a>
</footer>
